
body{
  font-family: 'Muli', sans-serif;
  height: 5000px;

}

nav ul a{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-size: 17px;
}
.navbar{
    background-color: rgb(0, 0, 0.1);
    padding: 25px 0;
    height: 70px;

 
}

nav a{
    float: right;
}
nav li{
    display: inline-block;
    margin-left: 70px;
}
nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
.logo{
    width: 9%;
}
/* ====Slider=== */
.slider{
    background-image: url(/images/bg2.jpeg);
    height: 80vh;
    display: flex;
    background-color: #444;
    
}
.btn{
    color: white;
}
.wrapper {
    height: 20vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 30ch;
    animation: typing 7s steps(22), blink .7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 3em;
    color: #f38e19 ;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .profile_pic{
        border-radius: 50%;
        height: 50%;

  }
  .btn-1{
    border: 2px solid #f38e19;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    margin-right: 70px;

  }
  .btn-1.btn-2{
    transition-duration: 0.4s;
  }
  
  .btn-1:hover {
    color: white;
  }
  .btn-2:hover {
    color: #f38e19;
  }
  .btn-2{
    border: 2px solid white;
    border-radius: 8px;
    color: #f38e19;
    font-size: 20px;

  }
  .about-me{
    margin-top: 0;
    color: white;
    font-family: Open Sans Light Italic;
  }
  .rm{
    padding-right:0;
    padding-left:0;
  }
  