/* ====Body===== */
body {
    margin: 0;
    font-family: 'work Sans', sans-serif;
    font-weight: 300;
    width: 100%;
    height: 500vh;
}

/* ====Begining of navbar==== */

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 20px 36px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}

nav li {
    display: inline-block;
    margin-left: 80px;
    align-content: justified;

}

nav a {
    color: #eb9902;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    /* space between the line on hover and the letters */
    padding-bottom: 0.25rem;
}

/* Hovering effects */
nav a::before {
    content: "";
    position: absolute;
    /* left: 0; */
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #eb9902;
    transition: width 0.25s ease-out;
}

nav a:hover {
    color: black;
    text-decoration: none;
    width: 100%;
}

nav a:hover::before {
    color: black;
    text-decoration: none;
    width: 100%;
    left: 0;
    right: auto;
}

nav h1 {
    font-size: 40px;
}

nav img {
    margin-top: 0;
}

/* ====Banners */
.banner {
    margin-bottom: 90vh;
}

.banner1 .banner2 {
    z-index: 2;
}

.banner-text {
    padding-top: 30vh;
    position: relative;
    text-align: center;
    z-index: 1;
}

.banner-text h1 {
    font-size: 50px;
    font-family: Calibri;
    font-weight: bolder;
}

.banner2 {
    position: absolute !important;
    top: 81px;
    right: 0px;
}

.banner1 {
    position: absolute;
    top: 81px;
    left: -200px;
}

/* ====News letter begins here */
.news-letter {
    background-color: #ffa500;
    height: 70vh;
    margin-top: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subscribe-text {
    padding-top: 60px;
}

select,
.form-mail,
.submit {
    padding: 12px, 20px;
    margin: 8-x 0;
    box-sizing: border-box;
    height: 58px;
    margin-left: 10px;
    box-shadow: none;

}

.form-mail {
    width: 20%;
    font-size: 15px;
    border-color: white;



}

.submit {
    width: auto;
    background-color: rgb(31, 30, 30);
    border-radius: 0;
    box-shadow: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.news-letter {
    color: white;
}

.h2 {
    font-size: 70px;
}

a {
    color: whitesmoke;

}

select {
    font-family: sans-serif;
    color: black;
}

.form-check {
    padding: 5px;
}

/* ===Food=== */
.food {
    padding: 50px;
    align-content: center;
}



.food img {
    border-radius: 10px;
    margin-left: 20px;
}

/* ==Order starts here== */
.order {
    background-color: #ffa500;
    height: 70vh;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;

}



.order-img {
    display: 50%;
}

.order h1 {
    font-size: 50px;
    font-weight: bold;
}

.order p {
    font-size: 20px;
}

/* ==Footer begins here== */
.footer {

    background-color: black;
    color: white;
    padding: 50px;

}

a:hover {
    color: white;

}

.footer a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.bi {
    margin-left: 5px;
    color: #ffa500;
    font-size: 15px !important;
}


.Copyright {
    background-color: black;
    color: blanchedalmond;
}

/* cooprate */
.cooprate {
    padding: 70px;

}

.cooprate p {
    font-size: 20px !important;
    align-content: center;
}

/* ===How it works=== */
.how-it-works h2 {
    padding: 30px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.how-it-works h3 {
    font-size: 20px;
    color: gray;
}

.how-it-works p {
    font-family: 'Times New Roman', Times, serif;
}

/* ==Responsiveness== */
/* when the screen less than 600 pixel wide, all links are hiden except home */
/* @media screen and (max-width: 600px) {
    .navbar:not(:first-child) {display: none;}
    .navbar.icon{
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {.navbar.responsive a.icon{
    position: absolute;
    right: 0;
    top: 0;
} */
/* .navbar.responsive{
    float: none;
    display: block;
    text-align: left;
}
    
} */